.container {
    height: 100%;
    padding: 2rem;
}

.homeImage {
    filter: drop-shadow(0 40px 10px rgba(0, 0, 0, 0.3));
    animation: imageAnimation 1s infinite ease-in-out alternate;
}

.secondImage {
    filter: drop-shadow(0 40px 10px rgba(0, 0, 0, 0.3));
}

.home-first-div {
    display: flex;
    flex-direction: row !important;
}

.home-second-div {
    display: flex;
    flex-direction: row !important;
}

.heading-course {
    display: flex;
    justify-content: space-between;
    flex-direction: row !important;
    align-items: center;
}
.stack-student{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row !important;
    justify-content: center;
}
@keyframes imageAnimation {
    to {
        transform: translateY(-10px);
    }
}




@media screen and (max-width:800px) {
    .home-second-div {
        display: flex;
        flex-direction: column !important;
    }
    .heading-course {
        display: flex;
        flex-direction: column !important;
        align-items: flex-start;
        text-align: left;
    }
}

.course {
    width: 250px;
    transition: all 0.5s;
}

.course:hover {
    transform: translateY(10px);
}